# <div class='alert alert-warning'> Null Values Handling - Categorical </div>

In [3]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [6]:
df=pd.read_csv('Data.csv')
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [7]:
imputer = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
df.iloc[:,:]=imputer.fit_transform(df.iloc[:,:].values)

In [9]:
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2   France  30.0  54000.0       Yes
3    Spain  38.0  61000.0        No
4  Germany  40.0  48000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  27.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [10]:
print(df.isnull().sum())

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64